.darkmode {
    background-color: black;
    color: white;
}

#layout {
    background-color: rgb(220, 216, 216);
    width: 400px;
    height: auto;
}

#result1 {
    background-color: black;
    font-size: 60px;
    color: white;
    width: 360px;
    height: 70px;
}

#result2 {
    background-color: black;
    font-size: 60px;
    color: white;
    width: 360px;
    height: 70px;
}


#C {
    width: 70px;
    height: 150px;
    background-color: rgb(175, 174, 174);
    font-size: 50px;
}

.btna {
    width: 100px;
    height: 70px;
    background-color: rgb(175, 174, 174);
    font-size: 30px;
}

.btnas,
.btn,
#spc,
table {
    width: 100px;
    height: 70px;
    background-color: rgb(175, 174, 174);
    font-size: 30px;
}

tr:last-child #btn {
    width: 100px;
}

.btnaa {
    width: 70px;
    height: 70px;
    background-color: rgb(106, 219, 40);
    font-size: 30px;
}

#btn {
    width: 70px;
    height: 70px;
    background-color: rgb(106, 219, 40);
    font-size: 50px;
}

#spc {
    background-color: coral;
    font-size: 50px;
}

#random-number-button {
    background: orange;
    width: 12%;
    font-size: 1rem;
    border-radius: 8px;
    padding: 15px;
    position: absolute;
    bottom: 5px;
}

#darkmode-button {
    background: linear-gradient(to right, #00cd4f, #000ecd);
    width: 12%;
    font-size: 1rem;
    border-radius: 8px;
    padding: 15px;
    position: absolute;
    bottom: 5px;
    cursor: pointer;
}

td,
tr,
button,
table {
    border: 0
}

table {
    padding: 15px;
    border-radius: 15px;
}

button {
    border-radius: 15px;
}

#random-number-button, #darkmode-button{
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#darkmode-button {
    /*width: 200px;
    font-size: 24px;
    font-weight: 600;
    color: #000000;
    cursor: pointer;
    margin: 20px;
    height: 30px;*/
    text-align: center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#random-number-button:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#darkmode-button:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#random-number-button:focus {
    outline: none;
}

#darkmode-button:focus {
    outline: none;
}

#random-number-button{
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

#darkmode-button{
    background-image: linear-gradient(to right, #00cd4f, #000ecd, #000, rgb(198, 185, 0));
    box-shadow: 0 4px 15px 0 rgba(255, 0, 187, 0.75);
}

button:not(#random-number-button), table{
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.75);
}

button:not(#darkmode-button), table{
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.75);
}

button:not(#random-number-button):hover{
    box-shadow:0 0 0;
}

button:not(#darkmode-button):hover{
    box-shadow:0 0 0;
}
#darkmode-button{
    position: absolute;
    right: 0;
    
}